body{
    margin: 0px;
    padding: 0px;
    direction: rtl;
}
nav{
    border: 1px solid black;
    height: 50px;
}
nav img{
    height: 30px;
    margin: 10px;
    float: right;
}
nav ul{
    float: right;
    list-style:none ;
}
nav ul li{

    float: right;
    margin: auto 10px;
    color: rgb(41, 41, 41);
}
nav ul li:hover{
    color: rgb(56, 56, 56);
    font-weight: bold;
}
nav ul.lol{
    float: left;
}
nav ul.lol li{
    background:red ;
    color: white;
    margin: 1px;
    padding: 5px;
}
